body {
  text-align: center;
  background: darkgray;
}

img {
  position: relative;
  width: 320px;
  display: block;
  margin: 40px auto;
  border-radius: 30px;
}

div {
  padding: 20px;
  background-color: gray;
  display: block;
  color: #fff;
  margin: 40px;
  border-radius: 25px;
}
